/* StartGlobal Variables */
:root {
    --main-color: #10cbb6;
    --secondary-color: #2c4755;
}
/* End lobal Variables */
/* Start Global Rules */
* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Work Sans", sans-serif;
    background-color: white;
}

.container {
	padding: 0 15px;
	margin: 0 auto;
}

/* Small */
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
/* Medium */
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
/* Large */
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
/* End Global Rules */
/* Start Components */
.special-heading {
    margin-top: 60px;
}
.special-heading h1 {
    font-size: 100px;
    font-weight: 800;
    color: #eaeded;
    text-align: center;
}

.special-heading p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
    margin-top: -40px;
}

/* Small */
@media (max-width: 768px) {
    .special-heading {
        margin-top: 20px;
    }
    .special-heading h1 {
        font-size: 60px;
    }
    
    .special-heading p {
        font-size: 15px;
        margin-top: -30px;
    }
}
/* End Components */