/* Start Footer */
footer {
    background-color: var(--secondary-color);
    padding: 25px 0;
    margin: 0;
}
footer p {
    font-size: 20px;
}
footer p span {
    color: var(--main-color);
}
/* End Footer */

