/* Start Landing */
.landing {
    background-image: url('../../images/landing.jpg');
    height: 100vh;
}
.landing .container .welcome {
    max-width: 350px;
}
.landing .container .welcome h1 {
    font-size: 50px;
    font-weight: 800px;
    color: #10cbb6;
    margin-bottom: 20px;
}
.landing .container .welcome p {
    font-size: 20px;
}
/* End Landing */